<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <%include userStyle.ejs%>
        <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
        <title>React App</title>
</head>

<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <br>
    <table id="userList">
        <th>objectid</th>
        <th>userid</th>
        <th>username</th>
        <% for(var i=0; i < users.length; i++) { %>
            <form method="POST" action="/update/<%= users[i]._id %>">
                <tr>
                    <td>
                        <%= users[i].userid %>
                            <input name="userid" type="text" />
                    </td>
                    <td>
                        <%= users[i].username %>
                            <input name="username" type="text" />
                    </td>
                    <td>
                        <a href="/del/<%= users[i]._id %>">delete</a>
                        <input type="submit" value="update" />
                    </td>
                </tr>
            </form>
            <% } %>
    </table>
    <script>
        var socket = io();

        // 보내기 버튼 클릭했을 때 채팅 입력
        $('#sendBtn').click(function () {
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });

        // 엔터치면 채팅 입력
        $('#m').keydown(function (key) {
            if (key.keyCode == 13) {
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            }
        });

        // 서버에서 받아온 채팅내용
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg));
            $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);

            // 200줄 이상 넘어가면 위의 채팅기록부터 10줄씩 삭제됨)
            if ($('#messages').find('li').length > 200) {
                for (var i = 0; i < 10; i++) {
                    $('#messages').find('li')[0].remove();
                }
            }
        });

        // socket.on('user list', function (data) {
        // $('#userList').replaceAll();
        // console.log(data);
        // $('#userList').append($('<li>').text(data));
        // });

        socket.on('guestIn', function (data) {
            $('#messages').append($('<li id="noti">').text(data + ' 님이 입장하셨습니다.'));
            $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
        });

    </script>
</body>

</html>